#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <div class="ui four column two row middle aligned grid basic segment">
        <div class="center aligned column">
            <i class="big user icon"></i>
            <p>${member.name}</p>
        </div>
        <div class="center aligned column">
            <i class="${iwiColor}"></i>
            <p>IDEAL WEIGHT INDICATOR</p>
        </div>
        <div class="center aligned column">
            <i class="big heartbeat icon">${bmi}</i>
            <p>BMI</p>
        </div>
        <div class="center aligned column">
            <i class="big user md icon"></i>
            <p>${bmicat}</p>
        </div>
    </div>
</section>

<form class="ui segment form" action="/dashboard/addAssessment" method="POST">
    <div class="three fields">
        <div class="field">
            <label>Weight</label>
            <input placeholder="00.00kg" type="number" name="weight">
        </div>
        <div class="field">
            <label>Chest</label>
            <input placeholder="00.00cm" type="number" name="chest">
        </div>
        <div class="field">
            <label>Thigh</label>
            <input placeholder="00.00cm" type="number" name="thigh">
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>Upper Arm</label>
            <input placeholder="00.00cm" type="number" name="upperarm">
        </div>
        <div class="field">
            <label>Waist</label>
            <input placeholder="00.00cm" type="number" name="waist">
        </div>
        <div class="field">
            <label>Hips</label>
            <input placeholder="00.00cm" type="number" name="hips">
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>

#{listassessments assessmentlist:assessmentlist/}


